// Import Font
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Objectivity-Regular';
    src: url(../fonts/Objectivity-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Objectivity-Medium';
    src: url(../fonts/Objectivity-Medium.woff2) format('woff2');
}


// Common CSS
$primary-dark: #4345E7;
$primary-light:#4D50FC;
$secondary-dark: #F4773D;
$secondary-light:#FAAC37;
$cardBackground:#E5ECFD;

html {
    scroll-behavior: smooth;
} 

#quote-modal{
    background: rgba(0, 0, 0, 0.404);
}
.modal-backdrop{
    background-color: rgba(0, 0, 0, 0.6)!important;
}
.modal-dialog{
    max-width: calc(100% - 400px);
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    padding: 0;
    font-family: 'Objectivity-Medium';
}
p{
    padding: 0;
    margin: 0;
    font-family: 'OpenSans';
}
.py-6{
    padding-bottom: 4rem;
    padding-top: 4rem;
}
a{
    font-family: 'Objectivity-Regular';
}

.close{
    align-self: flex-end;
    padding: 8px 15px 0!important;
    outline: none;
}

#pg-button{
    background: linear-gradient(
        to right,
        $secondary-dark 0%,
        $secondary-light 90%
    );
    color: #fff;
    font-size: 14px;
    font-family: 'Objectivity-Regular';
    border-radius: 25px;
    padding:6px 18px;
    border: solid 3px;
    
}
#pg-button:hover{
    color: $secondary-dark;
    border: solid 3px;
    font-weight: bold;
    background: unset;
    border-color: linear-gradient(
        to right,
        $secondary-dark 0%,
        $secondary-light 90%
    );
}
.pg-card{
    padding: 25px;
    background: $cardBackground;
    height:260px;
    width: 324px;
    border-radius: 30px;
    text-align: center;
}
.under-heading-trapezoid-design{
    border-bottom: 20px solid $primary-dark;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    top: 36px;
    z-index: -1;
    position: absolute;
    margin: 0px 20px;
}
.section-heading{
    text-align: center;
    align-self: center;
    position: relative;
    margin: auto;
    h1{
        font-size: 52px;
        width: fit-content;
        margin: auto;
    }
}
.prev,.next{
    height: 27px;
    padding: 0 8px;
}
.prev.active, .next.active{
    cursor: pointer;
}
// Header CSS
nav{
    .nav-link{
        font-family: 'Objectivity-Medium';
        font-size: 18px ;
        color: #000;
    }
    li.active{
        .nav-link{
            color: $primary-dark;
        }
    }
    li{
        padding-left: 7px;
        padding-right: 7px;
    }
    #logo{
        height: 62px;
    }
}

#get-a-quote{
    border-radius: 25px;
    padding: 10px 16px;
    border: solid 3px;
    text-decoration: none;
    border-color: #fff;
    background: linear-gradient(
    to right,
    $primary-dark 0%,
    $primary-light 100%
    );
    vertical-align: -webkit-baseline-middle;
    color: #fff;
    font-family: 'Objectivity-Medium';
    outline: none;
    &:hover{
        background: unset;
        border: solid 3px;
        border-color: $primary-dark;
        color: $primary-dark;
    }
}


//Banner CSS

#banner{
    padding: 20px 0;
    h1{
        padding-top: 16px;
        color:$secondary-dark;
    }
    p{
        padding-bottom: 32px;
    }
}

//Learn more

#learn-more{
    padding: 80px 0;
    h5{
        padding: 5px 8px;
        font-size: 24px;
    }
    p{
        padding-top: 20px;
        font-size: 14px;
    }
}
.learn-more-icon{
    height: 30px;
}

// Service CSS
#service{
    padding: 20px 0;
}
.service-heading-img1{
    height: 172px;
    position: absolute;
}
.service-heading-img2{
    height: 154px;
    position:absolute;
    right: 0;
}
.service-racking-img, .service-shelfing-img{
    height: 186px;
    padding-top: 16px;
}

//About Us

//Testimonial CSS

.testimonial-user-img{
    height: 90px;
    width: 90px!important;
    left: calc(100%/2 - 90px/2);
    position:absolute;
    top:0;
    border-radius:50%
}
#testimonial{
    .card-outer-layer{
        padding-top: 54px ;
    }
    h5{
        padding-top: 20px;
    }
    p{
        font-size: 14px;
    }
    .testimonial-quote{
    padding-top: 16px;
    /* overflow: scroll; */
    height: 143px;
    padding-right: 24px;
    padding-left: 24px;
    position: relative;
        p{
            font-size: 12px;
            overflow-y: scroll;
            height:130px
        }
        p::-webkit-scrollbar{
            display: none;
        }
    }
    .quotes{
        width: fit-content;
        height: 40px;
        position: absolute;
    }
    .quotes.right{
        right:-10%;
        bottom: 0;
    }
    .quotes.left{
        left:-10%
    }
}
.testimonial-carousel-nav{
    width: fit-content;
    margin: auto;
    display: flex;
    padding-top: 24px;
    .testimonial-carousel-dots{
        align-self: center;
    }
    .owl-dot{
        background: #ccc;   
        height: 10px;
        border:0;
        outline:none;
        padding: 0;
        margin: 0 4px ;
        width: 10px;
        border-radius: 50%;
    }
    .owl-dot.active{
        background: linear-gradient(
            to right,
            $secondary-dark 0%,
            $secondary-light 100%
            );
    }
}

// Client CSS

.company-logo-img{
    height:138px
}

// Contact CSS

textarea{
    resize: none;
}

//Footer CSS

footer{
    background-color: rgb(3, 3, 3);
    color: #fff;
    .social-icon{
        height:25px;
        margin: 10px;
    }
    h6{
        font-size: 18px;
        padding-bottom: 15px;
    }
    a{
        color:#fff;
        font-family: "OpenSans";
        font-size: 14px;
        &:hover{
            color: #fff;
        }
    }
    ul{
        list-style: none;
        padding: 0;
    }
    li{
        padding-top:5px;
        padding-bottom: 5px;   
    }
    p{
        font-size: 14px;
    }
}